
body {
  background-color: lightgrey;
}
.navbar-brand {
  color: #ffffff !important;
  background-color: #06c2ac;
  padding: 16px 18px;
  overflow: hidden;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: block;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

li {
  float: right;
}

.navbar-item {
  display: block;
  color: white;
  text-align: right;
  text-decoration: none;
  font-family: sans-serif;
}

.dropdown-menu {
  left:0;
}

.container {
  display: block;
  width: 100%;
}


.container-fluid {
  display: block;
  width: 100%;
}

hr {
  border-color: lightgrey;
  border-style: solid none;
  border-width: .5px 0;
  margin: 20px;
}

h1 {
  color: #06c2ac;
  padding: 14px 16px;
  overflow: hidden;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}