
body {
  background-color: lightgrey;
}
.navbar-brand {
  color: #ffffff !important;
  background-color: #06c2ac;
  padding: 16px 18px;
  overflow: hidden;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: block;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

li {
  float: right;
}

.navbar-item {
  display: block;
  color: white;
  text-align: right;
  text-decoration: none;
  font-family: sans-serif;
}

.dropdown-menu {
  left:0;
}

.card {
  width: 50rem;
  margin: 20px;
  background-color: white;
  text-align: left;
  padding: 14px 16px;
  font-size: 18px;
  color: #6E6A6A
  }
.card.img {
  width: 100%;
  object-fit: cover;
  object-position: left;
}
h1 {
  color: #06c2ac;
  padding: 14px 16px;
  overflow: hidden;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}